<style scoped="">
.budget_analytics .comm_width{
  display: flex;
  padding-top: 134px;
  padding-bottom: 150px;
}
.budget_analytics .comm_width .budget_item_pane{
  margin-right: 180px;
  display: block;
}
.budget_analytics .comm_width .budget_item_pane:last-child{
  margin-right: 0px;
}
.budget_item_pane{
  border-bottom: 1px solid #D4D4D7;
  padding-bottom: 33px;
}
.budget_item_pic{
  height: 268px;
  background-color: #eee;
  position: relative;
  background-image: url('../assets/images/已通过FIP提案数@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.5215686274509804);
}
.budget_item_num_title{
  position: absolute;
  top: 45px;
  left: 34px;
  font-size: 23px;
}
.budget_item_num{
  font-size: 36px;
  line-height: 1;
  padding-bottom: 5px;
  display: block;
  border-bottom: 1px solid #fff;
}
.budget_item_thin_tag{
  font-size: 16px;
  line-height: 24px;
  color: #717188;
  margin-top: 45px;
}
.budget_item_title{
  font-size: 23px;
  line-height: 36px;
  padding: 10px 0px;
  display: block;
}
.budget_item_brief{
  font-size: 18px;
  line-height: 27px;
  color: rgba(53, 53, 86, 0.7019607843137254);
  font-size: 300;
}
.accept_project{
  background-image: url('../assets/images/已通过预算提案数@2x.png');
}
@media (max-width: 800px) {
  .budget_analytics .comm_width{
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .budget_analytics .comm_width .budget_item_pane{
    width: 100%;
    margin-right: 0px;
    box-sizing: border-box;
    padding: 10px;
    /*border-bottom: 0px;*/
  }
  .budget_item_brief{
    font-size: 13px;
  }
  .budget_item_num_title{
    font-size: 16px;
    left: 15px;
    top: 15px;
  }
  .budget_item_thin_tag{
    margin-top: 15px;
  }
}
</style>
<template>
  <div class="budget_analytics">
    <div class="comm_width">

      <a class="budget_item_pane" target="_blank" href="https://eosforce.gitbook.io/eosforce/ti-an/eosforce-zhu-wang-gai-jin-ti-an">
        <div class="budget_item_pic">
          <div class="budget_item_num_title">{{ lang.data['Approved FIP'] }}</div>
          <div class="budget_item_num">15</div>
        </div>
        <div class="budget_item_thin_tag">
          {{ lang.data['Latest FIP'] }}
        </div>
        <div class="budget_item_title" href="https://eosforce.gitbook.io/eosforce/ti-an/eosforce-zhu-wang-gai-jin-ti-an" target="_blank">
          FIP #15 EOSC主网改进提案
        </div>
        <div class="budget_item_brief">
          根据FIP#7《EOSFORCE主网改进提案》，若节点一旦漏块，则稳定值重置。但是根据EOSC主网实际运行情况来看，由于服务器网络稳定性不同以及人为不可控因素影响，节点无法100%保证稳定出块。
        </div>
      </a>

      <a class="budget_item_pane" target="_blank" href="https://u.eosforce.io/">
        <div class="budget_item_pic accept_project">
          <div class="budget_item_num_title">{{ lang.data['Approved Budget Proposal'] }}</div>
          <div class="budget_item_num">5</div>
        </div>
        <div class="budget_item_thin_tag">
          {{ lang.data['Latest Budget Proposal'] }}
        </div>
        <div class="budget_item_title">
          社区委员会代表EOSC，为Bibix2周年打call
        </div>
        <div class="budget_item_brief">
          1、大佬打call，海报图附上红包领取入口 业内 大佬、媒体、项目、社区KOL等 吴忌寒、沈波、比特币女博士、区块链威廉等
          业外  传统金融机构高管、财经媒体主编等  Aviva集团（捷克）CEO、VISA前CEO等  
        </div>
      </a>

    </div>
  </div>
</template>
<script>
import { lang, set_lang } from '@/data/langs/index.js'

export default {
  data () {
    return {
      lang
    }
  },

  methods: {

  }
}
</script>