<style scoped="">
.header_nav{
  height: 70px;
  display: flex;
}
.header_bottom_line{
  border-bottom: 1px solid #0D5EE5;
}
.header_nav .logo{
  display: block;
}
.header_nav .comm_width{
  display: flex;
  align-items: center;
  position: relative;
}
.header_nav_bar{
  list-style: none;
  margin-left: 50px;
}
.header_nav_bar_lang{
  margin: auto;
  position: absolute;
  right: 0px;
}
.header_nav_bar li{
  list-style: none;
  display: inline-block;
  position: relative;
}
.down_list_pane{
  position: absolute;
  z-index: 1;
  left: 20px;
  display: none;
}
.down_list_pane ul{
  box-shadow: 0px 0px 20px #eee;
  margin-top: 10px;
  background-color: #fff;
}
.down_list_pane ul li{
  display: block;
}
.down_list_pane ul li a{
  white-space: nowrap;
  background-color: #fff;
  white-space: nowrap;
  background-color: #fff;
  padding: 10px;
  padding-right: 30px;
  display: block;
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.down_list_pane ul li a:hover{
  border-left: 1px solid #000;
  border-left: 1px solid rgba(0, 0, 0, 0);
}
.header_nav_bar>li:hover .down_list_pane{
  /*background-color: #000;*/
  display: block;
}
.header_nav_bar li a{
  padding: 10px 25px;
}
.header_nav .mobile_module{
  display: none;
}
.selected{
  color: #065cff;
}
@media (max-width: 800px) {
  .header_nav{
    padding: 0px 10px;
    height: 58px;
  }
  .header_nav .pc_module{
    display: none;
  }
  .header_nav .mobile_module{
    display: flex;
    justify-content: space-between;
  }
  .nav_bar{
    background-size: 18px 15px;
    background-image: url('../assets/images/更多@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 30px;
  }
  .nav_bar_close{
    background-image: url('../assets/images/关闭(1)@2x.png');
    background-size: 15px 15px;
  }
  .logo{
    height: 29px;
    background-position: left;
  }
  .mobile_nav_pane{
    background-color: #eee;
    position: fixed;
    left: 0px;
    top: 58px;
    bottom: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #fff;
  }
  .lang_select_ct{
    height: 66px;
    display: flex;
    margin-left: 10px;
    align-items: center;
  }
  .lang_select_ct a, .lang_select_ct span{
    margin-right: 20px;
  }
  .blue_ft{
    color: blue;
  }
}
</style>
<template>
  <div class="header_nav" :class="{'header_bottom_line': with_bottom_line}">

    <div class="comm_width mobile_module">
      <router-link class="logo" :to="{'name': 'app'}"></router-link>
      <div class="mobile_nav_pane" v-if="is_show_mobile_nav">

        <expander v-for="(item, index) in head_data" :key="index" v-bind:data="item"></expander>

        <div class="lang_select_ct" style="display: none;">
          <template v-for="item, index in lang.langs">
            <a href="javascript:;" :class="{'blue_ft': item.selected}"  @click="exchange(item)">
              {{ item.text }}
            </a>
            <span v-if="index != lang.langs.length - 1">/</span>
          </template>
        </div>

      </div>
      <div class="nav_bar" v-bind:class="{'nav_bar_close': is_show_mobile_nav}" @click="toggle_mobile_nav"></div>
    </div>

    <!-- pc_module_start -->
    <div class="comm_width pc_module">
      <router-link class="logo" :to="{'name': 'app'}"></router-link>
      <ul class="header_nav_bar" v-if="with_nav">

        <li v-for="item, index in head_data" :key="index">
          <!-- <a :href="item.title.url">{{ item.title.text }}</a>  -->
          <router-link :to="{'name': item.title.router.name}" :class="{'selected': $route.name == item.title.router.name}">
            {{ item.title.text }}
          </router-link>
          <div class="down_list_pane">
            <ul>
              <li v-for="(child, child_index) in item.children" :key="child_index">
                <!-- <a :href="child.url" :target="item.target">{{ child.text }}</a> -->

                 <router-link :to="{'name': child.router.name }" :class="{'selected': $route.name == child.router.name}">
                  {{ child.text }}
                </router-link>

              </li>
            </ul> 
          </div>
        </li>
      </ul>
      <ul class="header_nav_bar header_nav_bar_lang">
        <li style="display: none;">
          <a>{{ lang.now_lang.text }}</a>
          <div class="down_list_pane">
            <ul class="">
              <li v-for="item in lang.langs">
                {{ item}}
                <a href="javascript:;" @click="exchange(item)">
                  {{ item.text }}
                </a>
              </li> 
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- pc_module_end -->
  </div>
</template>
<script>
import expander from '../components/expander.vue'
import { lang, set_lang } from '@/data/langs/index.js'

export default {
  data () {
    return {
      lang,
      is_show_mobile_nav: false,
      head_data: [
        {
          title: {
            text: '首页',
            url: `#/${lang.now_lang.key}`,
            router: {
              name: 'app'
            }
          }
        },
        {
          title: {
            text: '产品服务',
            url: 'javascript:;',
            router: {
              name: 'platform_service'
            }
          },
          children: [
            {
              text: '数与区块链服务平台',
              url: `#/${lang.now_lang.key}/platform_service`,
              router: {
                name: 'platform_service'
              }
            },
            {
              text: '数与供应链可信协同中台',
              url: `#${lang.now_lang.key}/logistics`,
              router: {
                name: 'logistics'
              }
            },
          ]
        },
        {
          title: {
            text: '解决方案',
            url: 'javascript:;',
            router: {
              name: 'medical_solution'
            }
          },
          children: [
            {
              text: '区块链溯源',
              url: `#${lang.now_lang.key}/source_solution`,
              router: {
                name: 'source_solution'
              }
              // source_solution
            },
            {
              text: '证书存证',
              url: `#${lang.now_lang.key}/provements_solution`,
              router: {
                name: 'provements_solution'
              }
              // provements_solution
            },
            {
              text: '资产流转',
              url: `#${lang.now_lang.key}/assets_record`,
              router: {
                name: 'assets_record'
              }
            },
            {
              text: '区块链医疗',
              url: `#${lang.now_lang.key}/medical_solution`,
              router: {
                name: 'medical_solution'
              }
            },
            // assets_record
          ]
        },
        {
          title: {
            text: '关于我们',
            url: `#${lang.now_lang.key}/about_us`,
            router: {
              name: 'about_us'
            }
          }
        },
      ]
    }
  },
  props: {
    with_bottom_line: {
      type: Boolean,
      default () {
        return false;
      }
    },
    with_nav: {
      type: Boolean,
      default () {
        return true;
      }
    }
  },
  watch: {
    '$route.name' (val) {
      console.log(val);
    }
  },
  mounted () {
    this.toggle_mobile_nav(true);
  },
  methods: {
    toggle_mobile_nav (status) {
      if(typeof status == 'boolean'){
        this.is_show_mobile_nav = status;
      }
      if(!this.is_show_mobile_nav){
        document.getElementsByTagName('HTML')[0].style = 'overflow:hidden;height: auto';
        this.is_show_mobile_nav = true;
      }else{
        document.getElementsByTagName('HTML')[0].style = '';
        this.is_show_mobile_nav = false;
      }
    },
    exchange (item) {
        let key = item.key || item.router_name;
        let new_url = window.location.href.replace(`#/${lang.now_lang.key}`, `#/${key}`);
        window.location.href = new_url;
        set_lang(lang.exchange_lang.key, () => {
            window.location.reload(true);
        });
    }
  },
  components: {
    expander
  }
}
</script>


