<style type="text/css" scoped="">

</style>
<template>
  <div>
    <concat_dialog_form 
    :err_msg="form_config.err_msg"
    :bg_class="bg_class"
    :list="list" 
    :title="编辑商品" 
    @close="close" 
    @submit="submit">
      <div class="add_title" slot="title">
        添加公司
      </div>
      <div slot="submit">
        <load_area :on_load="form_config.on_load" :btn_text="form_config.btn_text" :circle_class="form_config.circle_class"></load_area>
      </div>
    </concat_dialog_form>
  </div>
</template>
<script>
import base_dialog from '@/components/base_dialog.vue'
import concat_form from '@/components/concat_form.vue'
import concat_dialog_form from '@/modules/admins/concat_dialog_form.vue'
import load_area from '@/components/load_area.vue'
import {
  add_company
} from '@/service'
import {
  get_token
} from '@/modules/stores'
export default {
  data () {
    return {
      form_val: {},
      form_config: {
        on_load: false,
        btn_text: '添加公司',
        circle_class: 'while_load_circle',
        err_msg: ''
      },
      bg_class: 'add_product_form_bg',
      list: [
        {
          type: 'text',
          text: '商家名',
          name: 'businessName',
          placeholder: '输入商家名',
          value: ''
        },
        {
          type: 'text',
          text: '用户名',
          name: 'userName',
          placeholder: '输入用户名',
          value: ''
        },
        {
          type: 'text',
          text: '初始密码',
          name: 'initPswd',
          placeholder: '输入初始密码',
          value: ''
        }
      ]
    }
  },
  methods: {
    close () {
      this.$emit('close');
    },
    deal_data (result) {

    },
    async submit (form_val) {
      this.form_config.err_msg = '';
      this.form_config.on_load = true;

      form_val.token = get_token();
      let data = await add_company(form_val);
      
      if(data.errCode != 200){
        this.form_config.err_msg = data.errMsg;
        this.form_config.on_load = false;
        return ;
      }
      this.form_config.on_load = false;
      this.$emit('success', data.data);
    }
  },
  components: {
    base_dialog,
    concat_form,
    load_area,
    concat_dialog_form
  }
}
</script>