<template>
  <div>
    <header_nav :with_bottom_line="true"></header_nav>
    <solution_main 
    :title="solution_main_config.title"
    :subtitle="solution_main_config.subtitle"
    :description="solution_main_config.description"
    :src="solution_main_config.src"
    ></solution_main>
    <process_map_line :src="process_map_line_config.src"></process_map_line>
    <column_item :title="column_item_config.title" :data="column_item_config.data"></column_item>
    <!-- <main_slider></main_slider> -->
    <!-- <our_advantage></our_advantage> -->
    <!-- <our_services></our_services> -->
    <!-- <solve_solution></solve_solution> -->
    <!-- <text_slider></text_slider> -->
    <!-- <tech_analytics></tech_analytics> -->
    <!-- <budget_analytics></budget_analytics> -->
    <!-- <manage_way></manage_way> -->
    <!-- <tech_support></tech_support> -->
    <!-- <documents></documents> -->
    <!-- <road_map></road_map> -->
    <!-- <recent_news></recent_news> -->
    <!-- <deal_platform></deal_platform> -->
    <!-- <site_map></site_map> -->
    <foot></foot>
  </div>
</template>
<script>
require('../assets/index.css');
import header_nav from '../modules/header.vue'
import main_slider from '../modules/main_slider.vue'
import text_slider from '../modules/text_slider.vue'
import tech_analytics from '../modules/tech_analytics.vue'
import budget_analytics from '../modules/budget_analytics.vue'
import our_advantage from '../modules/our_advantage.vue'
import our_services from '../modules/our_services.vue'
import solve_solution from '../modules/solve_solution.vue'
import manage_way from '../modules/manage_way.vue'
import tech_support from '../modules/tech_support.vue'
import documents from '../modules/documents.vue'
import road_map from '../modules/road_map.vue'
import recent_news from '../modules/recent_news.vue'
import deal_platform from '../modules/deal_platform.vue'
import site_map from '../modules/site_map.vue'
import solution_main from '../modules/solution_main.vue'
import process_map_line from '../modules/process_map_line.vue'
import column_item from '../modules/column_item.vue'
import foot from '../modules/foot.vue'

export default {
  data () {
    return {
      process_map_line_config: {
        src: '解决方案（资产流转）业务逻辑@2x.png'
      },
      solution_main_config: {
        title: '资产流转',
        subtitle: '基于区块链的资产流转解决方案',
        description: `基于区块链的基金和公司股权管理及交易平台，通过数字签名的等方式确保法律效益，提供强大的智能合约支持可编程的股权激励方式。用户通过交易智能合约在不需要中介的情况下，即可让股权资产能在区块链环境下高效的管理、畅通的变现、可信的交易、即刻的清算。`,
        src: '解决方案（资产流转）配图@2x.png'
      },
      column_item_config: {
        title: '商业价值',
        data: [
          {
            title: '提高流转效率',
            content: `通过区块链技术将资产确权和流通过程记录在不可篡改的可信账本，每一次链上交易即为清结算，大幅提高资产的流转效率。
                    `,
            src: '提高流转效率@2x.png'
          },
          {
            title: '降低交易成本',
            content: `通过区块链不可篡改的特性和基于密码学的资产确权，有效简化资产流转环节并大幅减少资产在流转过程中的摩擦。
                    `,
            src: '降低交易成本@2x.png'
          },
          {
            title: '可编程智能激励',
            content: `提供强大的智能合约支持可编程的激励方式，可满足股权内部激励等特定场景需求，帮助企业实现更加高效的股权资产管理。
                    `,
            src: '可编程智能激励@2x.png'
          },
        ]
      }
    }
  },
  mounted () {

  },
  methods: {

  },
  components: {
    header_nav,
    main_slider,
    text_slider,
    tech_analytics,
    budget_analytics,
    manage_way,
    tech_support,
    documents,
    road_map,
    recent_news,
    deal_platform,
    site_map,
    our_advantage,
    our_services,
    solve_solution,
    solution_main,
    process_map_line,
    column_item,
    foot
  }
}
</script>